{% extends 'blog_app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
change password
{% endblock %}




{% block content %}

{% if request.user != user %}

<div class="d-flex justify-content-between border border shadow mt-4 p-4">
    <div class="">
        <div class="display-4 mt-2 text-danger">ERROR</div>
        <div class="h4 mt-1">You can't access this page.</div>
    </div>

    <div class="mt-2">
        <img src="https://www.flaticon.com/svg/vstatic/svg/1179/1179237.svg?token=exp=1611919698~hmac=345be6f0b33e4ef97d1494c0f07ebc6e" alt="" class="m-auto error_img">
    </div>
</div>

{% else %}
<h2 class="h5 text-center mt-4 mb-2 py-2 border-info text-muted">Change Password</h2>

<!-- <div class="d-flex border-bottom bg-light rounded">

<div class="text-muted w-50 text-center  p-2">username : <span class="text-info account-detail"><b>{{ user.username }}</b></span></div>

<div class="text-muted w-50 p-2 ">email : <span class="text-info account-detail"><b>{{ user.email }}</b></span></div>

</div>

<div class="d-flex bg-light mt-1 rounded">

    <div class="text-muted w-50  text-center  p-2">first name : <span class="text-info account-detail"><b>{{ user.first_name }}</b></span></div>
    
    <div class="text-muted w-50   p-2">last name : <span class="text-info account-detail"><b>{{ user.last_name }}</b></span></div>
    
</div> -->


<form method="POST" class="p-4  mb-4 mt-2">
    {% csrf_token%}

    <div class="form-group">
        {% if form.old_password.errors %}
        {% for error in form.old_password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}
        <div class="text-info login-form"><b>{{ form.old_password.label | title }}</b></div>
        <input type="password" name="old_password" class="form-control inputs" placeholder="enter your current password" required>
    </div>


    <div class="form-group">
        {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}
        <div class="text-info login-form"><b>{{ form.new_password1.label | title }}</b></div>
        <input type="password" name="new_password1" class="form-control inputs" placeholder="enter your new password" required>
    </div>
    <div class="form-group">
        {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}
        <div class="text-info login-form"><b>{{ form.new_password2.label | title }}</b></div>
        <input type="password" name="new_password2" class="form-control inputs" placeholder="confirm your password" required>
    </div>

    <button class="btn btn-outline-info btn-block" type="submit">Change Password</button>
    <button onClick="window.history.back();return false;" class="mt-2 text-decoration-none btn btn-block btn-dark ">Cancel</span></button>

</form>
{% endif %}



{% endblock %}